<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Ezra Huang Stoller | {{ page.title }}</title>
   
   <!-- Homepage CSS -->
   <link rel="stylesheet" type="text/css" href="//cdn.foundation5.zurb.com/foundation.css">
   <link rel="stylesheet" type="text/css" href="/css/basic.css">
   <script type="text/javascript" src="//cdn.foundation5.zurb.com/foundation.js"></script>
</head>
<body>

  {% include header.html %}

  <div class="row">
    <div class="large-12 columns">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

</body>
</html>